<!DOCTYPE html>
<html ng-app="App">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body>
	  <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
     
    </div>
	<div ng-controller="AppController">
<h1>Inhalt</h1>		
 <button ng-click="nummer1()">Opt. 1</button>
 <button ng-click="nummer2()">Opt. 2</button>
  <button ng-click="clear1()">x</button>
 <h1>Sprache</h1>
  <button ng-click="nummer3()">Opt. 3</button>
 <button ng-click="nummer4()">Opt. 4</button>
 <button ng-click="clear2()">x</button>
 <p>{{yourName}} ist {{spice1 + " " + spice2}}!</p>
 <button ng-click="clearAll()">Clear All</button>
 <h1>{{vorschau}}</h1>
 
 
</div>
</body>
</html>

