<!DOCTYPE html>
<html ng-app="Zeugnis">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<script src="angular.min.js"></script>
		<script src="boilerplates.js"></script>
		<script src="app.js"></script>
	</head>
	<body ng-controller="BoilerplateController as bc">
		
		<div>
			<label>Name:</label>
			<input type="text" ng-model="yourName" placeholder="Schülername eingeben">
			<hr>
		</div>

		<form name="selection" ng-init="categories = bc.categories()">
			<select ng-model="selection.category">
				<option ng-repeat="c in categories" value={{c}}>{{c}}</option>
			</select>
		</form>

		<div>
			<div ng-repeat="b in bc.boilerplates | filter:selection.category">
				<h1>{{b.category}}</h1>
				<h2>{{b.mark}}</h2>
				<p>{{bc.replaceName(b.text, yourName ? yourName : "Der Schüler")}}</p>
			</div>
		</div>

	</body>
</html>

